.Component {
  display:      flex;
  flex:         1 1 auto;
  flex-flow:    column;
  grid-row-gap: 20px;

  .CombatLog {

  }

  .Field {
    display:         flex;
    flex:            1 1 auto;
    flex-flow:       column;
    justify-content: space-between;

    .EnemyList, .PlayerList {
      display:         flex;
      flex-flow:       row;
      justify-content: center;
      grid-column-gap: 10px;

      .Unit {
        flex: 0 0 calc(25% - 7.5px);
      }
    }
  }
}
