.Component {
  display:      flex;
  flex:         1 1 auto;
  flex-flow:    column;
  overflow:     auto;
  padding:      20px;
  grid-row-gap: 20px;


  .Controls {
    display:         flex;
    grid-column-gap: 20px;
  }
}
